<a href="https://colab.research.google.com/github/Hemanth-nri/my-projects/blob/main/Retail_Transaction_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Python./retail_transactions.csv')

Revenue=df['Price'].sum()

In [12]:
df

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount
0,T001,2024-01-01,102,1646,545,Electronics,1,150,Credit,15.0
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0
2,T003,2024-01-03,102,1515,593,Electronics,5,165,Debit,NaN
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0
...,...,...,...,...,...,...,...,...,...,...
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0
96,T097,2024-04-06,104,1190,579,Electronics,4,52,Debit,0.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0

In [16]:
Most_purchase=df['ProductCategory'].mode()
Most_purchase

0    Furniture
Name: ProductCategory, dtype: object

In [19]:
A_tranc=df['Price'].mean()
A_tranc

282.15

In [34]:
Filter = df[df['Price'] > 150]
Filter

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0
2,T003,2024-01-03,102,1515,593,Electronics,5,165,Debit,NaN
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0
5,T006,2024-01-06,103,1836,515,Grocery,9,227,Debit,NaN
...,...,...,...,...,...,...,...,...,...,...
94,T095,2024-04-04,103,1980,529,Electronics,7,309,Cash,NaN
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0

In [45]:
Spendings =df.groupby('TransactionID')['Price'].sum()
Top_3= Spendings.sort_values(ascending=True).tail(3)
Top_3

TransactionID
T004    496
T074    498
T008    500
Name: Price, dtype: int64

In [20]:
Grt_filter1=df['Price'].mode()
Grt_filter1

0    109
1    120
2    166
3    170
4    201
5    449
6    480
7    495
Name: Price, dtype: int64

In [ ]:
# prompt: Suggest a name for this project